<template>
  <v-container class="grey lighten-5">
    <v-card class="rounded-lg">
      <v-toolbar flat color="primary">
        <v-toolbar-title style="color: white" class="white--text">
          Tareas
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          flat
          variant="text"
          icon="mdi-plus"
          color="white"
          @click="abrirModal('Agregar')"
        ></v-btn>
      </v-toolbar>
      <v-card-text>
        <v-table>
          <thead>
            <tr>
              <th class="text-left">ID</th>
              <th class="text-left">Titulo</th>
              <th class="text-left">Fecha</th>
              <th class="text-left">¿Completado?</th>
              <th class="text-left">opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in tareas" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.due_date }}</td>
              <td>
                {{ item.is_completed == 1 ? "Si" : "No" }}
              </td>
              <td>
                <v-menu>
                  <template v-slot:activator="{ props }">
                    <v-btn flat icon="mdi-dots-vertical" v-bind="props"></v-btn>
                  </template>
                  <v-list>
                    <v-list-item>
                      <v-list-item-title
                        ><v-btn
                          flat
                          variant="text"
                          prepend-icon="mdi-pencil"
                          color="primary"
                          @click="abrirModal('Editar', item)"
                          >Editar</v-btn
                        ></v-list-item-title
                      >
                      <v-list-item-title
                        ><v-btn
                          flat
                          variant="text"
                          prepend-icon="mdi-delete"
                          color="red-darken-4"
                          @click="eliminar()"
                          >Eliminar</v-btn
                        ></v-list-item-title
                      >
                    </v-list-item>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <Modal
      :close="close"
      :form="form"
      :save="save"
      :titulo="titulo"
      v-if="mostrarModal"
    />
  </v-container>
  
</template>

<script >
import { defineComponent, ref, onMounted } from "vue";
import TareaServices from "../services/tareaService";
import Modal from "../components/modal.vue";

export default defineComponent({
  components: {
    Modal,
  },
  setup(props) {
    const tareas = ref([]);
    const mostrarModal = ref(false);
    const titulo = ref("Agregar");
    const form = ref({
      id: null,
      title: null,
      is_completed: 0,
      due_date: null,
      comments: null,
      description: null,
      tags: null,
    });
    const defaultForm = ref({
      id: null,
      title: null,
      is_completed: 0,
      due_date: null,
      comments: null,
      description: null,
      tags: null,
    });

    const tareaService = ref(TareaServices.TareaService);
   
    onMounted(() => {
      getTareas();
    });

    async function getTareas() {
    
      tareas.value = await tareaService.value.get();
     
    }

    async function abrirModal(tittle, item = null) {
      titulo.value = tittle;
      if (item) {
        var itemShow = await tareaService.value.show(item.id);
        form.value = Object.assign({}, itemShow[0]);
      }

      mostrarModal.value = true;
    }

    function close() {
      mostrarModal.value = false;
      form.value = Object.assign({}, defaultForm.value);
    }

    async function save() {
      
      if (form.value.id === null) {
        var data = await tareaService.value.create(form.value);
      } else {
        var data = await tareaService.value.update(form.value.id, form.value);
      }
      
      close();
      getTareas();
    }

    async function eliminar(id) {
    
      var data = await tareaService.value.eliminar(id);
      getTareas();
      
    }

    

    return {
      tareas,
      mostrarModal,
      titulo,
      form,
      abrirModal,
      close,
      save,
      eliminar,
    };
  },
});
</script>
