<template>
  <div class="text-center">
    <v-dialog v-model="dialog" persistent max-width="1000">
      <v-card>
        <v-toolbar flat color="primary">
          <v-toolbar-title style="color: white" class="white--text">
            {{ titulo }} tarea
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="close()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-form @submit.prevent="validate" ref="valid">
            <v-row>
              <v-col xl="12" lg="12" md="12" sm="12" cols="12">
                <v-text-field
                  v-model="form.title"
                  label="Titulo"
                  variant="outlined"
                  color="blue-darken-2"
                  :rules="[(v) => !!v || 'El titulo es requerido']"
                ></v-text-field>
              </v-col>

              <v-col xl="3" lg="3" md="4" sm="12" cols="12">
                <v-switch
                  :false-value="0"
                  :true-value="1"
                  inset
                  color="primary"
                  v-model="form.is_completed"
                  label="¿Completado?"
                ></v-switch>
              </v-col>

              <v-col xl="4" lg="4" md="4" sm="12" cols="12">
                <v-text-field
                  v-model="form.due_date"
                  label="Fecha"
                  variant="outlined"
                  color="blue-darken-2"
                  type="date"
                ></v-text-field>
              </v-col>
              <v-col xl="12" lg="12" md="12" sm="12" cols="12">
                <v-textarea
                  variant="outlined"
                  color="blue-darken-2"
                  v-model="form.comments"
                  label="Comentarios"
                ></v-textarea>
              </v-col>
              <v-col xl="12" lg="12" md="12" sm="12" cols="12">
                <v-textarea
                  variant="outlined"
                  color="blue-darken-2"
                  v-model="form.description"
                  label="Descripción"
                ></v-textarea>
              </v-col>
              <v-col xl="12" lg="12" md="12" sm="12" cols="12">
                <v-text-field
                  v-model="form.tags"
                  label="Tags"
                  variant="outlined"
                  color="blue-darken-2"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-btn type="submit" block color="primary"> Guardar </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { defineComponent, ref, onMounted } from "vue";

export default defineComponent({
  props: ["form", "close", "save", "titulo"],
  setup(props) {
    const dialog = ref(true);
    const valid = ref(null);

    onMounted(() => {
      console.log(props.form.id);
    });

    async function validate() {
        var val = await valid.value.validate();
      if (val.valid) {
        props.save();
      }
    }

    return {
      dialog,
      valid,
      validate,
    };
  },
});
</script>